$bp_mobile_slider: 600px; // this should stay in sync with the Flickity.draggable condition
$bp_stacked_header: 1020px;

$color--black: #111;
$color--light-gray: #767676;

$font-size--body: 16px;

$font-weight--bold: 600; // semibold

$gutter--large: 80px;
$gutter--medium: 60px;
$gutter--small: 30px;

$width--sidebar: ($gutter--medium * 2) + 250px;