$gutter--color: 40px;

.slider {
  margin: $gutter--color;
  position: relative;
}

.slider__color {
  position: absolute;
  z-index: -1;

  &:nth-of-type(1) {
    top: $gutter--color * -1;
    right: $gutter--color * -1;
    bottom: $gutter--color * 2;
    left: $gutter--color * 2;
  }

  &:nth-of-type(2) {
    top: $gutter--color * 2;
    right: $gutter--color * 2;
    bottom: $gutter--color * -1;
    left: $gutter--color * -1;
  }
}

.slider__items {
  box-shadow: 0 0 2px rgba(#000, 0.3);
}

.slider__image-link {
  display: block;
  width: 100%;
  cursor: zoom-in;
}

.slider__image {
  vertical-align: bottom;
}

.flickity-prev-next-button.next {
  right: ($gutter--color * -1) - 44px;
}

.flickity-prev-next-button.previous {
  left: ($gutter--color * -1) - 44px;
}