@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';

$bp_overlaying_arrows: 1200px;
$gutter--color: 40px;
$gutter--color-downsized: 10px;

.slider {
  margin: $gutter--color;
  position: relative;

  @include max-width($bp_mobile_slider) {
    margin: $gutter--color-downsized;
  }
}

.slider__color {
  position: absolute;
  z-index: -1;

  &:nth-of-type(1) {
    top: $gutter--color * -1;
    right: $gutter--color * -1;
    bottom: $gutter--color * 2;
    left: $gutter--color * 2;

    @include max-width($bp_mobile_slider) {
      top: $gutter--color-downsized * -1;
      right: $gutter--color-downsized * -1;
      bottom: $gutter--color-downsized * 2;
      left: $gutter--color-downsized * 2;
    }
  }

  &:nth-of-type(2) {
    top: $gutter--color * 2;
    right: $gutter--color * 2;
    bottom: $gutter--color * -1;
    left: $gutter--color * -1;

    @include max-width($bp_mobile_slider) {
      top: $gutter--color-downsized * 2;
      right: $gutter--color-downsized * 2;
      bottom: $gutter--color-downsized * -1;
      left: $gutter--color-downsized * -1;
    }
  }
}

.slider__items {
  box-shadow: 0 0 2px rgba(#000, 0.3);
}

.slider__image-link {
  display: block;
  width: 100%;
  cursor: zoom-in;
}

.slider__image {
  vertical-align: bottom;
}

.flickity-prev-next-button.next {
  right: ($gutter--color * -1) - 44px;

  @include max-width($bp_overlaying_arrows) {
    right: 0;
  }
}

.flickity-prev-next-button.previous {
  left: ($gutter--color * -1) - 44px;

  @include max-width($bp_overlaying_arrows) {
    left: 0;
  }
}

#close-button g {
  stroke: #fff;
}