@charset 'utf-8';

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';

// Base
// =======================================
* {
  box-sizing: border-box;
}

body {
  color: $color--black;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  font-size: $font-size--body;
  line-height: 1;
  margin: 0;
  padding: $gutter--large 0 0 $width--sidebar;
}

img {
  max-width: 100%;
}

a {
  color: $color--black;

  &:hover {
    color: $color--light-gray;
  }
}

h1, h2, h3, h4, strong {
  font-weight: $font-weight--bold;
}

// Layout
// =======================================
.wrap {
  max-width: 800px;
  margin: auto;
  width: 95%;
}

// Site info and navigation
// =======================================
.site__header {
  position: fixed;
  padding: $gutter--large $gutter--medium;
  width: $width--sidebar;
  left: 0;
  top: 0;
  line-height: 1.2;

}

.site__title {
  font-size: em(20px);
  margin: 0 0 5px;

  a {
    text-decoration: none;
  }
}

.site__description {
  margin: 0;
}

.site__nav {
  margin-top: $gutter--small;
}

.site__nav__link {
  color: $color--light-gray;
  display: block;
  margin-bottom: 5px;

  &:hover {
    color: $color--black;
  }
}

.site__nav__toggle {
  display: none;
}